.food-container {
  display: flex;
  flex-direction: row;
  
}

.food-info {
  margin-right: 20px;
}

.food-count, button {
  background: #eeeeee;
  font-size: 15px;
  padding: 0 5px;
}

button {
  border: none;
}

.minusButton:hover,
.plusButton:hover{
  cursor: pointer;  
}

