/* .list-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: aqua;
  margin-bottom: var(--tile-spacing);

  box-shadow: var(--box-shadow);
  border-radius: 20px;
  width: 95%;
} */
