:root {
  --white: #fff;
  --black: #000;
  --theme: #b2b2ff;
  --border: #2d2d2d;
  --selected: #8888fc;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: 100%;
  /* border: 1px solid var(--border); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  min-width: 110px;
  padding-left: 1em;
  padding-right: 1em;
  background-color: var(--theme);
  color: white;
}

.btn:hover {
  background: var(--white);
  color: var(--black);
}

.restaurant-container,
.restaurant-foods-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 60px;
  width: 100%;
  /* height: 550px; */
  /* border-top: 3px dotted var(--black);
  border-right: 3px dotted var(--black);
  border-left: 3px dotted var(--black); */
  text-align: center;
}

.cart-container,
.profile-container {
  /* width: 100%;
  text-align: center; */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 60px;
  width: 100%;
}
